body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
  background: #8FC1D4;
}

.bg-light {
  background-color: transparent !important;
}

#navbar-brand {
  display: inline-flex;
  align-items: center;
}

#navbar-brand .lead {
  margin-bottom: 0;
  margin-left: 1rem;
  color: #8f5e51;
}

#modal {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  height: 100%; 
  left: 0;
  overflow: auto; 
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 1; 
}

.visible {
  display: none;
}

.mod-span {
  color: #127ca5;
  font-size: 0.8rem;
}

.portada {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/tintobgrnd.jpeg') center top no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 3rem;
}

.nav-item a {
  color: #8f5e51 !important;
}

.contenedor {
  width: 800px;
  margin: auto;
  overflow: hidden;
}

.btn-primary {
  background-color: #8f5e51 !important;
  border: #8f5e51 !important;
}

.contacto {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 3rem auto;
  background-color: #8FC1D4;
}

.contacto img {
  display: block;
  margin-bottom: 1rem;
}

.contacto span {
  font-size: 15px;
}

.contacto a {
  color: white;
  text-decoration: none;
  display: inline-flex
}

.contacto a img {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

#frmContacto {
  background-color: #8FC1D4;
}

.formulario {
  color: white;
  background-color: #8FC1D4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background: #273B47;
  margin-top: 4rem;
}





